.Container{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 160, 221, 0.394);
    padding: 100px;
    margin: 1rem 2rem;
    font-size: 1rem;
}

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Label{
    padding: 4px;
}

.button{
    background-color:rgb(165, 66, 208, 0.799);
    color: white;
    padding: 20px;
    border-radius: 10px;
}