.CardItem{
    background-color: rgba(221, 160, 221, 0.394);
    width: 300px;
    height: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.button{
    background-color:rgb(165, 66, 208, 0.799);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.ItemHeader{
    font-size: 20px;
}