.CardItem{
    background-color: rgba(221, 160, 221, 0.394);
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.Option{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
}

.ItemHeader{
    font-size: 20px;
}