.tarjeta{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color:rgba(221, 160, 221, 0.394);
    width: 95vw;
    font-size: 25px;
}
.tarjeta img{
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

h2{
    font-size: 25px;
}